# user
.vscode

# mta
core.dll
net.dll
pthread.dll
xmll.dll
banlist.xml
settings.xml
server-id.keys
vehiclecolors.conf
*.exe
*.db
*.log
*.db-journal
/dumps
mods/deathmatch/logs
mods/deathmatch/dumps
mods/deathmatch/backups
mods/deathmatch/resource-cache
mods/deathmatch/dbconmy.dll
mods/deathmatch/deathmatch.dll
mods/deathmatch/libmysql.dll
mods/deathmatch/lua5.1.dll
mods/deathmatch/pcre3.dll
